<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dosen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dosen</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="./../../assets/image/mobile.jpg" />
      </ion-avatar>
      <ion-label>Yuvi Darmayunata, ST, M.Kom<br> 1013048101 <br> Pemprograman Berbasis Mobile</ion-label>
    </ion-item>
    
    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="./../../assets/image/statistik.jpg" />
      </ion-avatar>
      <ion-label>Susi Handayani, S.E., M.Kom, Ak., MTA<br> 1025127401 <br> Statistik Dan Probabilitas</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="./../../assets/image/interaksi.jpg" />
      </ion-avatar>
      <ion-label>Dr. Muhammad Sadar, SE., M.Kom., MTA., MCF <br> 1030096501 <br> Interaksi Manusia Dan Komputer</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="./../../assets/image/komputer.jpg" />
      </ion-avatar>
      <ion-label>Sutejo, M.Kom., MTA <br> 1002068801 <br> Komputer Grafik</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="./../../assets/image/keamanan.jpg" />
      </ion-avatar>
      <ion-label>Pandu Pratama Putra, M.Kom., MTA <br> 1003069101 <br> Keamanan Komputer Dan Jaringan</ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img alt="Silhouette of a person's head" src="./../../assets/image/manajemen.jpg" />
      </ion-avatar>
      <ion-label>	Loneli Costaner, M.Kom <br> 1002028701 <br> Manajemen Proyek</ion-label>
    </ion-item>
    
  </div>
</ion-content>
