<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mata Kuliah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mata Kuliah</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pemprograman Berbasis Mobile (63)</ion-card-title>
          <ion-card-subtitle>Yuvi Darmayunata, ST, M.Kom</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Selasa, 10.30 - 13.00
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Statistik Dan Probabilitas (22)</ion-card-title>
          <ion-card-subtitle>Susi Handayani, S.E., M.Kom, Ak., MTA</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Senin, 08.00 - 10.30
        </ion-card-content>
      </ion-card>
      
      <ion-card>
        <ion-card-header>
          <ion-card-title>Interaksi Manusia Dan Komputer (22)</ion-card-title>
          <ion-card-subtitle>Dr. Muhammad Sadar, SE., M.Kom., MTA., MCF</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Senin, 13.30 - 16.00
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Komputer Grafik (63)</ion-card-title>
          <ion-card-subtitle>Sutejo, M.Kom., MTA</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Kamis, 13.30 - 16.00
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Keamanan Komputer Dan Jaringan (42)</ion-card-title>
          <ion-card-subtitle>Pandu Pratama Putra, M.Kom., MTA </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Selasa, 08.00 - 10.30
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Manajemen Proyek (42)</ion-card-title>
          <ion-card-subtitle>Loneli Costaner, M.Kom</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Kamis, 10.30 - 13.00
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>
